venv/
db.sqlite3
__pycache__/
media/*
!media/registrar_assets/*
src/media/files
src/app/static/rest_framework/
src/app/static/jet/
.DS_Store
.idea/
src/app/media/violations/*
src/app/media/employees_photos/*
.env
.env.db
.env.s3
app/db.sqlite3
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
bin/
packages/
**/packages/*
!**/packages/repositories.config
.vs/
bin/
obj/
*.bin
**/bin/
**/obj/
*.dll
*.exe
*.pdb